[package]
name = "base-client-cli"
description = "CLI argument types for Base node consensus clients"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# General
url.workspace = true
clap.workspace = true
alloy-rpc-types-engine.workspace = true
