{
  "baseFeeVaultMinimumWithdrawalAmount": "0x8ac7230489e80000",
  "baseFeeVaultRecipient": "${DEPLOYER_ADDR}",
  "baseFeeVaultWithdrawalNetwork": 0,
  "batchSenderAddress": "${BATCHER_ADDR}",
  "disputeGameFinalityDelaySeconds": 0,
  "delayedWETHWithdrawalDelay": 302400,
  "eip1559Denominator": 50,
  "eip1559DenominatorCanyon": 250,
  "eip1559Elasticity": 6,
  "finalSystemOwner": "${DEPLOYER_ADDR}",
  "fundDevAccounts": true,
  "gasPriceOracleBaseFeeScalar": 1368,
  "gasPriceOracleBlobBaseFeeScalar": 810949,
  "l1ChainId": ${L1_CHAIN_ID},
  "l1FeeVaultMinimumWithdrawalAmount": "0x8ac7230489e80000",
  "l1FeeVaultRecipient": "${DEPLOYER_ADDR}",
  "l1FeeVaultWithdrawalNetwork": 0,
  "l2BlockTime": 2,
  "l2ChainId": ${L2_CHAIN_ID},
  "l2GenesisBlockGasLimit": "0x3938700",
  "l2OutputOracleChallenger": "${CHALLENGER_ADDR}",
  "l2OutputOracleProposer": "${PROPOSER_ADDR}",
  "l2OutputOracleStartingBlockNumber": 1,
  "l2OutputOracleStartingTimestamp": 1,
  "multiproofBlockInterval": 100,
  "multiproofConfigHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
  "multiproofGameType": 621,
  "multiproofGenesisBlockNumber": 0,
  "multiproofGenesisOutputRoot": "0x0000000000000000000000000000000000000000000000000000000000000001",
  "multiproofIntermediateBlockInterval": 10,
  "slowFinalizationDelay": 0,
  "fastFinalizationDelay": 0,
  "nitroEnclaveVerifier": "0x0000000000000000000000000000000000000000",
  "operatorFeeVaultMinimumWithdrawalAmount": "0x8ac7230489e80000",
  "operatorFeeVaultRecipient": "${DEPLOYER_ADDR}",
  "operatorFeeVaultWithdrawalNetwork": 0,
  "p2pSequencerAddress": "${SEQUENCER_ADDR}",
  "proofMaturityDelaySeconds": 0,
  "proxyAdminOwner": "${DEPLOYER_ADDR}",
  "respectedGameType": 621,
  "sequencerFeeVaultMinimumWithdrawalAmount": "0x8ac7230489e80000",
  "sequencerFeeVaultRecipient": "${DEPLOYER_ADDR}",
  "sequencerFeeVaultWithdrawalNetwork": 0,
  "sp1Verifier": "0x0000000000000000000000000000000000000000",
  "superchainConfigGuardian": "${DEPLOYER_ADDR}",
  "superchainConfigIncidentResponder": "0x0000000000000000000000000000000000000000",
  "teeChallenger": "${CHALLENGER_ADDR}",
  "teeImageHash": "0x0000000000000000000000000000000000000000000000000000000000000001",
  "teeProposer": "${DEPLOYER_ADDR}",
  "zkAggregationHash": "0x0000000000000000000000000000000000000000000000000000000000000000",
  "zkRangeHash": "0x0000000000000000000000000000000000000000000000000000000000000000"
}
