[package]
name = "base-reth-rpc-types"
description = "Re-exports reth RPC types for external consumers"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# reth
reth-optimism-evm.workspace = true
reth-rpc-eth-types.workspace = true
