name = "load"
description = "Continuous baseline load generation"

[spam]
mode = "tps"
rate = 100        # default rate if a stage omits one
duration = 10     # default duration per stage (seconds)
seed = 1

# This load attempts to mimic the `Simulator.sol` contract in `base/benchmark`
#
# The main components of the contract include initializing storage/accounts,
# load/update/delete/create storage slots and accounts, and precompiles.
#
# By default, the number of accounts created will be equivalent to the rate specified.
[[spam.stage]]
name = "simulator-load"

# 100 * 0.25 = 25 TPS per scenario over 10s
rate = 100
duration_secs = 10
  [[spam.stage.mix]]
  scenario  = "erc20"
  share_pct = 25.0
  [[spam.stage.mix]]
  scenario  = "/load/scenarios/create_slots.toml"
  share_pct = 25.0
  [[spam.stage.mix]]
  scenario  = "/load/scenarios/precompiles.toml"
  share_pct = 25.0
  [[spam.stage.mix]]
  scenario  = "/load/scenarios/slot_contention.toml"
  share_pct = 25.0


# This load attempts to mimic what a trading volume would look like by interacting
# with Uniswap pools, transferring tokens, and interacting with the mempool
[[spam.stage]]
name = "trading-load"
rate = 200
duration_secs = 10
  [[spam.stage.mix]]
  scenario  = "erc20"
  share_pct = 25.0
  [[spam.stage.mix]]
  scenario  = "scenario:uniV2.toml"
  share_pct = 25.0
  [[spam.stage.mix]]
  scenario  = "scenario:uniV3.toml"
  share_pct = 25.0 
  [[spam.stage.mix]]
  scenario  = "scenario:mempool.toml"
  share_pct = 25.0 
  