[package]
name = "base-revm"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true
exclude.workspace = true

[lints]
workspace = true

[dependencies]
# revm
revm = { workspace = true, default-features = false }

# misc
auto_impl.workspace = true
base-alloy-flz = { workspace = true, default-features = false }
serde = { workspace = true, features = ["derive", "rc"], optional = true }

# compat (optional)
alloy-evm = { workspace = true, optional = true }
reth-evm = { workspace = true, optional = true }

[dev-dependencies]
rstest.workspace = true
sha2 = { workspace = true, default-features = false }
serde_json = { workspace = true, default-features = false, features = ["alloc", "preserve_order"] }
alloy-primitives = { workspace = true, default-features = false }
alloy-sol-types = { workspace = true, default-features = false }
serde = { workspace = true, features = ["derive", "rc"] }

[features]
default = [ "blst", "c-kzg", "portable", "secp256k1", "std" ]
std = [
	"alloy-evm?/std",
	"alloy-primitives/std",
	"alloy-sol-types/std",
	"revm/std",
	"serde?/std",
	"serde_json/std",
	"sha2/std",
	"base-alloy-flz/std",
]
dev = [
	"memory_limit",
	"optional_balance_check",
	"optional_block_gas_limit",
	"optional_eip3541",
	"optional_eip3607",
	"optional_no_base_fee",
]
serde = [ "alloy-primitives/serde", "dep:serde", "revm/serde" ]
alloy = [ "dep:alloy-evm" ]
reth = [ "alloy", "dep:reth-evm" ]
bn = [ "revm/bn" ]
blst = [ "revm/blst" ]
c-kzg = [ "revm/c-kzg" ]
portable = [ "revm/portable" ]
secp256k1 = [ "revm/secp256k1" ]
memory_limit = [ "revm/memory_limit" ]
optional_no_base_fee = [ "revm/optional_no_base_fee" ]
optional_eip3541 = [ "revm/optional_eip3541" ]
optional_eip3607 = [ "revm/optional_eip3607" ]
optional_fee_charge = [ "revm/optional_fee_charge" ]
optional_balance_check = [ "revm/optional_balance_check" ]
optional_block_gas_limit = [ "revm/optional_block_gas_limit" ]
