[package]
name = "flashblocks-websocket-proxy"
version = "0.1.0"
edition = "2021"
rust-version = "1.85"
license = "MIT"

[dependencies]
tracing.workspace = true
tracing-subscriber.workspace = true
clap.workspace = true
futures.workspace = true
thiserror.workspace = true
serde_json.workspace = true
metrics.workspace = true
tokio.workspace = true
tokio-tungstenite.workspace = true

metrics-exporter-prometheus = { version = "0.17.0", features = [
    "http-listener",
] }
http = "1.2.0"
axum = { version = "0.8.1", features = ["ws"] }
dotenvy = "0.15.7"
backoff = "0.4.0"
reqwest = { version = "0.12.15", default-features = false, features = [
    "native-tls",
] }
metrics-derive = "0.1"
hostname = "0.4.0"
redis = "0.30.0"
redis-test = { version = "0.10.0", optional = true }
uuid = { version = "1.16.0", features = ["v4"] }
tokio-util = "0.7.12"
brotli = "8.0.1"

[dependencies.ring]
version = "0.17.12"

[features]
integration = ["redis-test"]
