[package]
name = "base-primitives"
description = "Shared primitives and test utilities"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[features]
default = []
engine = [
	"dep:alloy-eips",
	"dep:alloy-primitives",
	"dep:alloy-provider",
	"dep:alloy-rpc-types-engine",
	"dep:alloy-rpc-types-eth",
	"dep:kona-genesis",
	"dep:op-alloy-network",
	"dep:op-alloy-rpc-types-engine",
	"dep:thiserror",
]
flashblocks = [
	"dep:alloy-serde",
	"dep:alloy-primitives",
	"dep:alloy-rpc-types-eth",
	"dep:alloy-rpc-types-engine",
	"dep:bytes",
	"dep:serde",
	"dep:brotli",
	"dep:serde_json",
	"dep:thiserror",
]
test-utils = [
	"dep:alloy-consensus",
	"dep:alloy-contract",
	"dep:alloy-eips",
	"dep:alloy-genesis",
	"dep:alloy-primitives",
	"dep:alloy-signer",
	"dep:alloy-signer-local",
	"dep:alloy-sol-macro",
	"dep:alloy-sol-types",
	"dep:eyre",
	"dep:op-alloy-network",
	"dep:op-alloy-rpc-types",
	"dep:serde_json",
]

[dependencies]
# kona
kona-genesis = { workspace = true, optional = true }

# alloy
alloy-eips = { workspace = true, optional = true }
alloy-serde = { workspace = true, optional = true }
alloy-signer = { workspace = true, optional = true }
alloy-genesis = { workspace = true, optional = true }
alloy-contract = { workspace = true, optional = true }
alloy-provider = { workspace = true, optional = true }
alloy-sol-types = { workspace = true, optional = true }
alloy-rpc-types-eth = { workspace = true, optional = true }
alloy-signer-local = { workspace = true, optional = true }
alloy-rpc-types-engine = { workspace = true, optional = true }
alloy-primitives = { workspace = true, features = ["serde"], optional = true }
alloy-consensus = { workspace = true, features = ["std"], optional = true }
alloy-sol-macro = { workspace = true, features = ["json"], optional = true }

# op-alloy
op-alloy-network = { workspace = true, optional = true }
op-alloy-rpc-types = { workspace = true, optional = true }
op-alloy-rpc-types-engine = { workspace = true, optional = true }

# misc
eyre = { workspace = true, optional = true }
bytes = { workspace = true, optional = true }
serde = { workspace = true, optional = true }
brotli = { workspace = true, optional = true }
serde_json = { workspace = true, optional = true }
thiserror = { workspace = true, optional = true }

[dev-dependencies]
rstest.workspace = true
