[package]
name = "base-primitives"
description = "Shared primitives and test utilities"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# workspace
base-bundles.workspace = true

# kona
kona-genesis = { workspace = true, optional = true }

# alloy
alloy-eips = { workspace = true, features = ["std"] }
alloy-serde = { workspace = true, features = ["std"] }
alloy-signer = { workspace = true, optional = true }
alloy-genesis = { workspace = true, optional = true, features = ["std"] }
alloy-contract = { workspace = true, optional = true }
alloy-provider = { workspace = true, optional = true }
alloy-sol-types = { workspace = true, optional = true, features = ["std"] }
alloy-rpc-types-eth = { workspace = true, features = ["std"] }
alloy-signer-local = { workspace = true, optional = true }
alloy-rpc-types-engine = { workspace = true, features = ["serde", "std"] }
alloy-primitives = { workspace = true, features = ["serde"] }
alloy-consensus = { workspace = true, features = ["std"] }
alloy-sol-macro = { workspace = true, features = ["json"], optional = true }

# op-alloy
op-alloy-network = { workspace = true, optional = true }
op-alloy-rpc-types = { workspace = true, optional = true }
op-alloy-consensus = { workspace = true, features = ["std", "k256", "serde"] }
op-alloy-rpc-types-engine = { workspace = true, optional = true }

# misc
bytes.workspace = true
serde = { workspace = true, features = ["std"] }
brotli = { workspace = true, features = ["std"] }
thiserror = { workspace = true, features = ["std"] }
serde_json = { workspace = true, features = ["std"] }
eyre = { workspace = true, optional = true }
uuid = { workspace = true, features = ["v5", "serde"] }

[dev-dependencies]
rstest.workspace = true
op-alloy-network.workspace = true
alloy-signer-local.workspace = true
op-alloy-rpc-types = { workspace = true, features = ["std"] }

[features]
default = []
engine = [
	"dep:alloy-provider",
	"dep:kona-genesis",
	"dep:op-alloy-network",
	"dep:op-alloy-rpc-types-engine",
]
test-utils = [
	"base-bundles/test-utils",
	"dep:alloy-contract",
	"dep:alloy-genesis",
	"dep:alloy-signer",
	"dep:alloy-signer-local",
	"dep:alloy-sol-macro",
	"dep:alloy-sol-types",
	"dep:eyre",
	"dep:op-alloy-network",
	"dep:op-alloy-rpc-types",
]
