devnets/specs/*
optimism-package
proofs
actions

artifacts/forge-artifacts
artifacts/src

# Long-running test environment file
.env.*

# Dynamically generated at runtime
monitoring/grafana/datasources/prometheus.yml

# Grafana data directory
monitoring/grafana/data/

# Long-running test logs
logs/
