[package]
name = "reth-op"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[dependencies]
# reth
reth-primitives-traits = { workspace = true, features = ["op"] }
reth-chainspec.workspace = true
reth-network = { workspace = true, optional = true }
reth-network-api = { workspace = true, optional = true }
reth-eth-wire = { workspace = true, optional = true }
reth-provider = { workspace = true, optional = true }
reth-db = { workspace = true, optional = true, features = ["mdbx"] }
reth-codecs = { workspace = true, optional = true }
reth-storage-api = { workspace = true, optional = true }
reth-node-api = { workspace = true, optional = true }
reth-node-core = { workspace = true, optional = true }
reth-consensus = { workspace = true, optional = true }
reth-consensus-common = { workspace = true, optional = true }
reth-evm = { workspace = true, optional = true }
reth-revm = { workspace = true, optional = true }
reth-rpc = { workspace = true, optional = true }
reth-rpc-api = { workspace = true, optional = true }
reth-rpc-eth-types = { workspace = true, optional = true }
reth-rpc-builder = { workspace = true, optional = true }
reth-exex = { workspace = true, optional = true }
reth-transaction-pool = { workspace = true, optional = true }
reth-trie = { workspace = true, optional = true }
reth-trie-db = { workspace = true, optional = true }
reth-node-builder = { workspace = true, optional = true }
reth-tasks = { workspace = true, optional = true }
reth-cli-util = { workspace = true, optional = true }
reth-engine-local = { workspace = true, optional = true }

# reth-op
alloy-primitives.workspace = true
reth-optimism-primitives.workspace = true
reth-optimism-chainspec.workspace = true
reth-optimism-consensus = { workspace = true, optional = true }
reth-optimism-evm = { workspace = true, optional = true }
reth-optimism-node = { workspace = true, optional = true }
reth-optimism-rpc = { workspace = true, optional = true }
reth-optimism-cli = { workspace = true, optional = true }

[features]
default = [ "std" ]
std = [
	"alloy-primitives/std",
	"reth-chainspec/std",
	"reth-consensus-common?/std",
	"reth-consensus?/std",
	"reth-evm?/std",
	"reth-optimism-chainspec/std",
	"reth-optimism-consensus?/std",
	"reth-optimism-evm?/std",
	"reth-optimism-primitives/std",
	"reth-primitives-traits/std",
	"reth-revm?/std",
	"reth-storage-api?/std",
]
arbitrary = [
	"alloy-primitives/arbitrary",
	"reth-chainspec/arbitrary",
	"reth-codecs?/arbitrary",
	"reth-db?/arbitrary",
	"reth-eth-wire?/arbitrary",
	"reth-optimism-primitives/arbitrary",
	"reth-primitives-traits/arbitrary",
	"reth-transaction-pool?/arbitrary",
	"std",
]
keccak-cache-global = [
	"alloy-primitives/keccak-cache-global",
	"reth-node-core?/keccak-cache-global",
	"reth-optimism-cli?/keccak-cache-global",
	"reth-optimism-node?/keccak-cache-global",
]
test-utils = [
	"reth-chainspec/test-utils",
	"reth-codecs?/test-utils",
	"reth-consensus?/test-utils",
	"reth-db?/test-utils",
	"reth-evm?/test-utils",
	"reth-network?/test-utils",
	"reth-node-builder?/test-utils",
	"reth-optimism-node?/test-utils",
	"reth-primitives-traits/test-utils",
	"reth-provider?/test-utils",
	"reth-revm?/test-utils",
	"reth-tasks?/test-utils",
	"reth-transaction-pool?/test-utils",
	"reth-trie-db?/test-utils",
	"reth-trie?/test-utils",
]

full = [
	"consensus",
	"evm",
	"network",
	"node",
	"pool",
	"provider",
	"rpc",
	"trie",
]

alloy-compat = [ "reth-optimism-primitives/alloy-compat" ]
cli = [ "dep:reth-cli-util", "dep:reth-optimism-cli" ]
consensus = [
	"dep:reth-consensus",
	"dep:reth-consensus-common",
	"dep:reth-optimism-consensus",
]
evm = [ "dep:reth-evm", "dep:reth-optimism-evm", "dep:reth-revm" ]
exex = [ "dep:reth-exex", "provider" ]
node-api = [ "dep:reth-node-api", "dep:reth-node-core" ]
node = [
	"consensus",
	"dep:reth-engine-local",
	"dep:reth-node-builder",
	"dep:reth-optimism-node",
	"evm",
	"network",
	"node-api",
	"pool",
	"provider",
	"rpc",
	"trie-db",
]
rpc = [
	"dep:reth-optimism-rpc",
	"dep:reth-rpc",
	"dep:reth-rpc-api",
	"dep:reth-rpc-builder",
	"dep:reth-rpc-eth-types",
	"tasks",
]
tasks = [ "dep:reth-tasks" ]
jemalloc = [
	"reth-cli-util?/jemalloc",
	"reth-node-core?/jemalloc",
	"reth-optimism-cli?/jemalloc",
]
js-tracer = [
	"reth-node-builder?/js-tracer",
	"reth-optimism-node?/js-tracer",
	"reth-rpc-eth-types?/js-tracer",
	"reth-rpc/js-tracer",
	"rpc",
]
network = [
	"dep:reth-eth-wire",
	"dep:reth-network",
	"dep:reth-network-api",
	"tasks",
]
otlp = [ "reth-node-core?/otlp", "reth-optimism-cli?/otlp" ]
portable = [ "reth-optimism-evm?/portable", "reth-revm?/portable" ]
provider = [
	"dep:reth-codecs",
	"dep:reth-db",
	"dep:reth-provider",
	"storage-api",
	"tasks",
]
pool = [ "dep:reth-transaction-pool" ]
storage-api = [ "dep:reth-storage-api" ]
trie = [ "alloy-primitives/rayon", "dep:reth-trie" ]
trie-db = [ "dep:reth-trie-db", "trie" ]
