[package]
name = "base-builder-core"
description = "Block builder for the OP Stack"
version.workspace = true
edition.workspace = true
rust-version.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[lints]
workspace = true

[features]
default = [ "jemalloc" ]
jemalloc = [ "dep:tikv-jemallocator", "reth-cli-util/jemalloc" ]
jemalloc-prof = [
	"jemalloc",
	"reth-cli-util/jemalloc-prof",
	"tikv-jemallocator?/profiling",
]
min-error-logs = [ "tracing/release_max_level_error" ]
min-warn-logs = [ "tracing/release_max_level_warn" ]
min-info-logs = [ "tracing/release_max_level_info" ]
min-debug-logs = [ "tracing/release_max_level_debug" ]
min-trace-logs = [ "tracing/release_max_level_trace" ]
test-utils = [
	"base-bundles/test-utils",
	"base-client-node/test-utils",
	"base-primitives/test-utils",
	"ctor",
	"http-body-util",
	"hyper",
	"hyper-util",
	"nanoid",
	"reth-chain-state/test-utils",
	"reth-chainspec/test-utils",
	"reth-db/test-utils",
	"reth-evm/test-utils",
	"reth-ipc",
	"reth-node-builder/test-utils",
	"reth-node-ethereum/test-utils",
	"reth-optimism-node/test-utils",
	"reth-optimism-rpc/client",
	"reth-payload-builder/test-utils",
	"reth-primitives-traits/test-utils",
	"reth-primitives/test-utils",
	"reth-provider/test-utils",
	"reth-revm/test-utils",
	"reth-tasks/test-utils",
	"reth-transaction-pool/test-utils",
	"reth-trie/test-utils",
	"rlimit",
]

[dependencies]
# workspace
base-bundles.workspace = true
base-client-node.workspace = true
base-primitives.workspace = true
base-access-lists.workspace = true
base-builder-publish.workspace = true

# reth
reth-cli.workspace = true
reth-evm.workspace = true
reth-trie.workspace = true
reth-revm.workspace = true
reth-tasks.workspace = true
reth-metrics.workspace = true
reth-rpc-api.workspace = true
reth-provider.workspace = true
reth-chainspec.workspace = true
reth-rpc-layer.workspace = true
reth-node-api.workspace = true
reth-primitives.workspace = true
reth-storage-api.workspace = true
reth-chain-state.workspace = true
reth-cli-util.workspace = true
reth-cli-commands.workspace = true
reth-node-builder.workspace = true
reth-network-peers.workspace = true
reth-testing-utils.workspace = true
reth-node-ethereum.workspace = true
reth-payload-util.workspace = true
reth-rpc-eth-types.workspace = true
reth-tracing-otlp.workspace = true
reth-execution-types.workspace = true
reth-rpc-engine-api.workspace = true
reth-payload-builder.workspace = true
reth-optimism-evm.workspace = true
reth-optimism-node.workspace = true
reth-primitives-traits.workspace = true
reth-optimism-forks.workspace = true
reth-optimism-txpool.workspace = true
reth-transaction-pool.workspace = true
reth-payload-primitives.workspace = true
reth-optimism-chainspec.workspace = true
reth-optimism-consensus.workspace = true
reth-optimism-primitives.workspace = true
reth-basic-payload-builder.workspace = true
reth-payload-builder-primitives.workspace = true
reth-optimism-payload-builder.workspace = true
reth-ipc = { workspace = true, optional = true }
reth-db.workspace = true
reth-node-core = { workspace = true, features = ["otlp"] }
reth-optimism-rpc = { workspace = true, features = ["client"] }

# revm
revm.workspace = true
op-revm.workspace = true

# alloy
alloy-eips = { workspace = true, features = ["std"] }
alloy-evm.workspace = true
alloy-serde = { workspace = true, features = ["std"] }
alloy-signer.workspace = true
alloy-network.workspace = true
alloy-provider.workspace = true
alloy-contract.workspace = true
alloy-consensus = { workspace = true, features = ["std"] }
alloy-transport.workspace = true
alloy-json-rpc.workspace = true
alloy-rpc-client.workspace = true
alloy-primitives.workspace = true
alloy-signer-local.workspace = true
alloy-rpc-types-eth = { workspace = true, features = ["std"] }
alloy-transport-http.workspace = true
alloy-rpc-types-beacon.workspace = true
alloy-rpc-types-engine = { workspace = true, features = ["std"] }
alloy-sol-types = { workspace = true, features = ["json", "std"] }

# base-alloy
base-alloy-flz.workspace = true
base-alloy-evm.workspace = true
base-alloy-network.workspace = true
base-alloy-consensus.workspace = true
base-alloy-rpc-types.workspace = true
base-alloy-rpc-types-engine.workspace = true

# tokio
tokio.workspace = true
tokio-util.workspace = true
tokio-tungstenite.workspace = true

# async
futures.workspace = true
async-trait.workspace = true
futures-util.workspace = true

# rpc
jsonrpsee.workspace = true
jsonrpsee-core.workspace = true
jsonrpsee-types.workspace = true

# cli
clap.workspace = true
clap_builder.workspace = true

# tracing
tracing = { workspace = true, features = ["std"] }
tracing-subscriber = { workspace = true, features = ["env-filter", "json"] }

# metrics
metrics.workspace = true

# misc
url.workspace = true
hex.workspace = true
k256.workspace = true
moka.workspace = true
http.workspace = true
rand.workspace = true
sha3.workspace = true
time.workspace = true
eyre.workspace = true
tower.workspace = true
serde = { workspace = true, features = ["std"] }
either.workspace = true
chrono.workspace = true
anyhow.workspace = true
dashmap.workspace = true
secp256k1.workspace = true
serde_with.workspace = true
dirs-next.workspace = true
thiserror = { workspace = true, features = ["std"] }
serde_json = { workspace = true, features = ["std"] }
parking_lot.workspace = true
derive_more.workspace = true
shellexpand.workspace = true
testcontainers.workspace = true
ctor = { workspace = true, optional = true }
tar = { workspace = true, optional = true }
hyper = { workspace = true, optional = true }
rlimit = { workspace = true, optional = true }
nanoid = { workspace = true, optional = true }
hyper-util = { workspace = true, optional = true }
opentelemetry = { workspace = true, optional = true }
http-body-util = { workspace = true, optional = true }
uuid = { workspace = true, features = ["serde", "v5", "v4"] }

[target.'cfg(unix)'.dependencies]
tikv-jemallocator = { workspace = true, optional = true }

[dev-dependencies]
# workspace
base-builder-core = { path = ".", features = ["test-utils"] }

# reth
reth-ipc.workspace = true
reth-node-builder = { workspace = true, features = ["test-utils"] }
reth-optimism-rpc = { workspace = true, features = ["client"] }

# alloy
alloy-provider = { workspace = true, default-features = true, features = ["txpool-api"] }

# misc
ctor.workspace = true
hyper.workspace = true
rlimit.workspace = true
nanoid.workspace = true
tempfile.workspace = true
hyper-util.workspace = true
http-body-util.workspace = true
