# MacOS dust
.DS_Store

# build output
/target

# witness data
data

# zip
**.zip

# .env
.env
.env.server

# txt
**.txt
!LICENSE.txt

# DB data
db/

# Reports
execution-reports/

# Rollup Config
**/rollup-config.json
