[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/optimism"]
	path = contracts/lib/optimism
	url = https://github.com/ethereum-optimism/optimism
[submodule "contracts/lib/openzeppelin-contracts"]
	path = contracts/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
[submodule "contracts/lib/sp1-contracts"]
	path = contracts/lib/sp1-contracts
	url = https://github.com/succinctlabs/sp1-contracts
[submodule "contracts/lib/solady"]
	path = contracts/lib/solady
	url = https://github.com/vectorized/solady
[submodule "contracts/lib/openzeppelin-contracts-upgradeable"]
	path = contracts/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "contracts/lib/lib-keccak"]
	path = contracts/lib/lib-keccak
	url = https://github.com/ethereum-optimism/lib-keccak
[submodule "tests/optimism"]
	path = tests/optimism
	url = https://github.com/succinctlabs/optimism
