# MacOS dust
.DS_Store

# build output
/target

# witness data
data

# zip
**.zip

# vscode
.vscode

# .env files
.env*
!.env.example

# txt
**.txt
!LICENSE.txt

# Execution Report
execution-reports/
block-data/

# Rollup Config
**/rollup-config.json

# DB
db

# Stdins
stdins

**/bin/op-proposer

artifact_*

*.egg-info/
