name: no_std

on:
  push:
    branches: [main]
  pull_request:
  merge_group:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

env:
  CARGO_TERM_COLOR: always

permissions:
  contents: read

jobs:
  check-no-std:
    name: no_std
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2

      - uses: ./.github/actions/setup
        with:
          mold: "true"
          rust-cache-shared-key: "no-std"
          rust-cache-save: ${{ github.ref == 'refs/heads/main' }}

      - name: Add riscv target
        shell: bash
        run: rustup target add riscv32imac-unknown-none-elf

      - name: check
        run: ./etc/scripts/ci/check-no-std.sh
